{# templates/products/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Product List{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/products.css') }}">
{% endblock %}

{% block body %}
<div {{ stimulus_controller('cart') }}/>
    <div class="header">
        <h1>Products List</h1>
            {#Cart#}
            <div class="cart">
                <span class="cart-icon">🛒</span>
                <span class="item-count" data-cart-target="cartCount">0</span> 
            </div>
    </div>

    {# this is a list of Products #}
    <div class="product-container">
        {% for product in products %}
            <div class="product">
                <img src="{{ asset('images/products/' ~ product.image) }}" alt="{{ product.title }}" />
                <h3>{{ product.title }}</h3>
                <p>{{ product.price }} DH</p>
                
                <button class="add-to-cart" {{stimulus_action('cart', 'addToCart')}}>Ajouter au panier</button>
                <a  href="{{ path('product', {'id': product.id}) }}" class="see-more">Voir plus</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
