{# templates/products/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Product List{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ 'styles/products.css' }}">
{% endblock %}

{% block body %}
<h1>Products List</h1>

{# this is a list of Products #}
<div class="product-container">
    {% for product in products %}
        <div class="product">
            <img src="{{ 'images/products/' ~ product.image }}" alt="{{ product.title }}" />
            <h3>{{ product.title }}</h3>
            <p>{{ product.price }} DH</p>
            <button class="add-to-cart">Ajouter au panier</button>
        </div>
    {% endfor %}
</div>
{% endblock %}
