{# templates/products/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Product List{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/products.css') }}">
{% endblock %}

{% block body %}
<div {{ stimulus_controller('cart') }}/>
    <div class="header">
        <h1>Products List</h1>
            {# Cart #}
            <div class="cart">
                <span class="cart-icon">🛒</span>
                <span class="item-count" data-cart-target="cartCount">0</span> 
            </div>
    </div>
    {# this is a list of Products #}
    <div class="product-container">
        {% for product in products %}
            <div class="product">
                <div class="product-user">
                    <div class="avatar">U</div>
                    <div class="info">
                        <h3>Yassin AZ...</h3>
                        <p>{{ product.created_at | ago}}</p>
                     </div>
                </div>
                <img src="{{ asset('images/products/' ~ product.image) }}" alt="{{ product.title }}" />
                <h3>{{ product.title }}</h3>
                <p class="price">{{ product.price }} DH</p>
                
                <button class="add-to-cart" 
                    data-product-url="{{ path('cart_add', {id: product.id}) }}"
                    {{stimulus_action('cart', 'addToCart')}}>
                    Ajouter au panier
                </button>
                <a  href="{{ path('product', {'id': product.id}) }}" class="see-more">Voir plus</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
